<div class="card" style="width: 220px; height: 125px;   border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); background-color: #fff; display: flex;  flex-direction: column;">
    <div class="iconspace" style=" width: 100%; background: #000;">
        <img src="{{ icon }}" alt="">
        <img src="{{ trend_icon }}" alt="">

    </div>
    <div class="valuespace " style="margin-top: 10px;">
        <h2>{{ value }}</h2>
        <p  style="margin-top: -10px;">{{ title }}</p>
    </div>

</div>